<div class="slide vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(http://mrmrs.github.io/photos/u/009.jpg) no-repeat center;">
  <div class="dtc v-mid w-80">
    <div class="bg-white-60 dib center pa5">
      <h2 class="f1 f-1-l fw1 red">{{ section.title }}</h2>
      <!-- <h2 class="f1 f-headline-l fw1 red">Of Bart?</h2> -->
      <blockquote class="pt3 mh0 measure f4 lh-copy center tl">
        <p class="fw1 f5 white-70">
            {{ section.text | markdown }}
        </p>
      </blockquote>
    </div>

  </div>
</div>
