<div class="slide vh-100 dt w-100 tc bg-dark-gray white cover" style="background-color:#A74149">
  <div class="dtc v-mid">
    <div class="dib center georgia white">
      <h2 style="max-width:80%;" class="f3 f2-l fw1 center">Questions, comments or corrections?</h2>
      <p class="ma4 f3-l f4">
          Email <a style="color:white" href="mailto:projects@dailycal.org">projects@dailycal.org</a>.
      </p>
      <h2 style="max-width:80%;" class="f3 f2-l fw1 center">Support innovative, independent student journalism. </h2>
      <p class="ma4 f3-; f4">
           <a style="color:white" href="https://donate.dailycal.org/" target="_blank">Donate today</a>.
      </p>
      <p class="footer-text" style="position:absolute; bottom: 30px; transform: translate(-50%, 0);left: 50%; ">Copyright © 2017 The Daily Californian, The Independent Berkeley Student Publishing Co., Inc.</p>
    </div>

  </div>
</div>
